
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family:"Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LANDING and NAVIGATION*/

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

#landing {
    padding: 24px, 12px, 12px, 24px;
    width: 100%;
    background-image: url(./assets/Movie\ Posters\ blue.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 12px;
    padding: 12px;
    color: white;
}

.nav__list {
    display: flex;
    list-style-type: none;
}

.nav__link {
    padding: 0 12px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

.title__container {
    width: 100%;
    margin: 20px;
    padding: 20px;
}

.search__bar--wrapper {
    display: flex;
    justify-content: center;
    padding: 24px;
    width: 100%;
    position: relative;
}

.movie__search-bar {
    width: 100%;
    max-width: 300px;
    height: 24px;
   border-radius: 15px;
   border: 1px #000 solid;
   padding: 12px;
}

.search__button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

/* SEARCH */
#search__results {
    background-color: rgb(55, 32, 85);
    width: 100%;
    min-height: 100vh;
}

.results__container {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px;
    color: white;
}

.search {
    color: white;
}

.movies {
    display: flex;
    justify-content: space-between;
    color: white;
    margin: 12px;
    padding: 24px;
    
}

.movie {
    padding: 12px;
    width: 100%;
}
