* {
    margin: 0 auto;
    padding: 0;
}

.li {
    list-style-type: none;
    text-decoration: none;
}


/*NAVIGATION*/

nav {
    display: flex;
    justify-content: space-between;
    background-image: url("./assets/Movie\ img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav__list {
    display: flex;
    
}

